@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
                                                                /* En-tête */
header{
    z-index: 20;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 2);
    height: 50px;
}
header h1{
    font-size: 25px;
    font-weight: bold;
}
header .toggle-menu{
    display: none;
}
header span{
    color: #ea1f33;
}
nav ul{
    display: flex;

}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    font-size: 15px;
    color: #000;
    font-weight: 300;
    transition: 0.2s;
}
nav ul li a:hover{
    color: #ea1f33;
    font-weight: bolder;
    font-size: 20px;

}
header button{
    background-color: #ea1f33;
    color: #fff;
    padding: 5px 25px;
    cursor: pointer;

}
header button:hover{
    background-color: #fff;
    color: #ea1f33;

}
                                                                                                    /* Page d'accueill */
#home{
    margin-top: 50px;
    height: calc(100vh - 50px);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#home .left{
    width: 40%;
}
#home .left h1{
    font-size: 35px;
}
#home .left h1 span{
    color: #ea1f33;
}
#home .left h1{
    margin-bottom: 10px;
}
#home .left p{
    margin-bottom: 30px;
    color: #999;
    font-size: 13px;
}
#home .left a{
    background-color: #ea1f33;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    transition: 0.5s;

}
#home .left a:hover{
    background-color: #000;
}
#home .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#home .right img{
    width: 100%;
}

                                                                                                    /* Catalogue de voiture */
#cars{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section .title{
    font-size: 25px;
    position: relative;
}
section .title:before{
    position: absolute;
    left: 10px;
    background-color: #ea1f33;
    bottom: 0;
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 6px;
}
section .title:after{
    position: absolute;
    top: 0;
    left: -10px;
    background-color: #ea1f33;
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 6px;
}
.images{
    margin: 100px auto;
    padding: 0 8%;
}
.images ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.images li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.665%;
    transition: 0.5s;
    height: 300px;
    width: 28%;
}
.images li div{
    width: 100%;
    height: 60%;
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.3);
    margin-bottom: 5px;
}
.images li div img{
    height: 100%;
    width: 100%;
}
.images a{
    background-color: #ea1f33;
    color: #fff;
    padding: 5px 20px;
    font-size: 15px;
}
.images a:hover{
    background-color: #fff;
    color: #ea1f33;
}
.images span{
    font-size: 18px;
}
.images .prix{
    color: #ea1f33;
    font-weight: bold;
    margin-bottom: 10px;
}
.images li:hover{
    transform: scale(1.1);
    margin: 20px
}
                                                                                                    /* Service de la société */
#services{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
#services .listedeservices{
    display: flex;
    margin: 100px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
#services .listedeservices .service{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 28%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.3);
    
}

.service i{
    font-size: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #ea1f33;
}

.service a{
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 20px;
    color: #ea1f33;
    background-color: #fff;
    border: 1px #ea1f33 solid;
    transition: 0.5s;

}

.service a:hover{
    background-color:#ea1f33;
    color: #fff;
    border: none;
    border-radius: 50%;
}
.service h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.service p{
    font-size: 12px;
}

#section{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}       
                                                                                            /* Contact de la société */

#contact{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 12%;
    margin-bottom: 20px;
}
.localisation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.3);
    width: 49%;
    padding: 15px;
    border-radius: 10px;
    
}
.localisation_contact_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 00px 0;
    height: 80vh;
}


.localisation iframe{
    width: 100%;
  
}

.localisation_contact_div .section_title{
    margin-bottom: 10px;
    font-size: 18px;
}
.form_contact{
    width: 51%;
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.3);
    margin: 20px;
    border-radius: 10px;

    

}

                                                                            /* Formulaire de la société */

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
textarea, input{
    border: 1px solid #ccc;
    width: 100%;
    resize: none;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
}


                    /* Responsive */


@media (max-width:800px){
        #home{
            padding: 0 10px;
            justify-content: center;
            flex-direction: column-reverse;
        }
        #home .left, #home.right{
            width: 100%;
        }
        #home h1{
            margin-top: 100px;

        }
        #home .right img{
            width: 400px;
        }
        ul .car {
            width: 100%;
        }
        #services .listedeservices .service{
            width: 100%;
      

        }
    

    }
        @media (max-width:1500px){

            .localisation_contact_div{
                flex-wrap: wrap;
            }
            .localisation{
                width: 100%;
            }
            .form_contact{
                width: 100%;
            }
            

        }


        @media (max-width:645px){

            header nav{
                display: none;
            }

            header .toggle-menu{
                display: flex;
                font-size: 35px;
            }
        }



    