@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}
body{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.texte{
    text-align: center;

}
h1 span{
    color: #ea1f33;
}

ul{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 280px;


}
li{
    margin: 10px;
}
ul li a{
    color: #000;
    transition: 0.5s;

    
}
ul li a:hover{
    color: #ea1f33;
    font-weight: bolder;
    
}
.voiture{
    display: flex;
    justify-content: space-between;

}
.a{
    display: flex;
    width: 50%;
}
.a img{
    width: 100%;
}
.m{
    display: flex;
    width: 50%;
}
.m img{
    width: 100%;
}